@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-brand-dark: #0f172a;
  --color-brand-card: #1e293b;
  --color-brand-border: #334155;
}

@variant dark (&:where(.dark, .dark *));

.tab-btn {
    @apply px-4 py-2 text-sm font-medium transition-colors hover:text-blue-500 cursor-pointer;
}

#method {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1rem;
    padding-right: 2.5rem;
}
